html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #5c47cc;
    /* color: #000000; */
    color: rgb(255, 255, 255);
    font-family: Arial, helvetica;
    margin: 0;
    /* padding: 0; */
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}

header {
    /* background-color: #231F20; */
    color: #ffffff;
    font-family: Arial, helvetica;
    margin: 0;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
}

h1 {
    /* line-height: 200%; */
    /* padding: 20px 0px; */
    text-align: center;
    margin: 0;
    /* background-color: #231F20; */
    color: #ffffff;
}

nav {
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
    background-color: #231F20;
    margin: 0px 0px;

    /* border: 10px solid red; */
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff
}

nav a:hover {
    color: #858585;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 10px solid red; */
}

nav li {
    /* margin: auto; */
    float: left;
    /* border: 10px solid black; */

}

li a {
    /* margin: auto; */
    display: block;
    text-align: center;
    padding: 0px 25px;
    /* border: 10px solid black; */
}

h2 {
    /* color: #000000; */
    color: white;
    font-family: Arial, helvetica;
    text-align: center;
    margin: 0px;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    /* background-color: #FFFFFF; */
    background-color: #2d48c29f;
    text-align: center;
    /* padding: 20px 0px; */
    /* border: 10px solid red; */
    flex-grow: 1;
    
}

main table {
    margin: auto;
    border-spacing: 150px 10px;
    border-collapse: separate;
    /* text-align: center; */
}

main td {
    min-width: 160px;
    /* border: 10px solid red; */
}

main td a {
    color: rgb(138, 138, 138);
}

header,
nav,
main,
footer {
    display: block;
}


header table {
    margin: auto;
    border-spacing: 30px 10px;
    border-collapse: separate;
    /* text-align: center; */
}

header td {
    /* border: 10px solid; */
}
